<!DOCTYPE html>
<html ng-app="sequenceApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>SequenceF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.paper.min.css">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/controllers.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="SequenceCtrl">
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-init="isMainNavCollapsed = true" ng-click="isMainNavCollapsed = !isMainNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SequenceF</a>
        </div>

        <div class="navbar-collapse" collapse="isMainNavCollapsed">
          <ul class="nav navbar-nav navbar-right">
                <li><button class="btn navbar-btn btn-default" ng-click="openAddEdit()">Add Sequence</button></li>
                <!--<li><a href="#">Login</a></li>-->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <h2>Sequences</h2>
        <div>This is a simple Proof of Concept (with <a href="https://github.com/iamcanadian2222/SequenceF">source code</a>) that combines REST endpoints written in Python with Angular, all run on Google App Engine!
            <span class="label label-primary" tooltip-placement="right" tooltip="Click a number to find the index of the next largest number in the sequence.">Largest</span>
        </div>
        <div style="margin-top:10px;margin-bottom:15px;">
            <span class="glyphicon glyphicon-info-sign text-primary"></span>
            To get started, use the 'Add Sequence' button in the top menu or select one of the numbers in a sequence below.
        </div>

        <div class="sequence-list">
            <table class="table table-striped">
                <tr>
                    <th class="col-sm-3">Name</th>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-8">Sequence</th>

                </tr>
                <tr ng-repeat="item in sequences">
                    <td>{{item.name || "[Unnamed]"}}</td>
                    <td>
                        <div class="controls">
                            <button class="btn btn-xs btn-danger" ng-click="confirmDelete(null, item)" tooltip="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button class="btn btn-xs btn-default" ng-click="openAddEdit(null, item.name, item.sequence, item.key)" tooltip="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-xs btn-default" ng-click="openAddEdit(null, item.name, item.sequence)" tooltip="Create Copy">
                                <span class="glyphicon glyphicon-copy"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <span ng-repeat="n in item.sequence track by $index">
                            <a href="" ng-click="findLargest(item.key, $index)">{{n}}</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>