<!DOCTYPE html>
<html ng-app="sequenceApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>SequenceF</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->



    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/controllers.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
</head>
<body ng-controller="SequenceCtrl">
    <h1>SequenceF</h1>
    <div>Welcome to the sequence mutilator!</div>
    <div class="tools">
        <div class="btn btn-default" ng-click="openAddNew()">Add Sequence</a>
    </div>

    <script type="text/ng-template" id="add_sequence.html">
        <div class="panel-heading">
            <h3 class="panel-title">Add/Edit Sequence</h3>
        </div>
        <div class="panel-body">
            <div class="node row" ng-repeat="item in newSequence track by $index">
                <div class="col-xs-10">
                    <input type="number" ng-model="newSequence[$index]" class="form-control col-xs-1" placeholder="New Integer">
                </div>
                <div class="btn btn-primary btn-sm" ng-show="$last" ng-click="addSequenceItem()"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
            <div class="btn btn-success pull-right" ng-click="createSequence()">Submit</div>
        </div>
    </script>

    <div class="sequence_list">
        <ul>
            <li ng-repeat="item in sequences">
              <span><a href="/sequence/{{item.key}}">{{item.key}}</a></span>
              <div>
                  <span ng-repeat="n in item.sequence track by $index">
                      <a href="" ng-click="findLargest(item.key, $index)">{{n}}</a>
                      <!--/sequence/{{item.key}}/next-largest/{{$index}}-->
                  </span>
              </div>
            </li>
        </ul>
    </div>

</body>
</html>